name: CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  install-docker:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Connect to EC2
        env:
          EC2_PEM_KEY: ${{ secrets.EC2_PEM_KEY }}
          EC2_HOST: ${{ secrets.EC2_HOST }}
          EC2_USER: ${{ secrets.EC2_USER }}
     
        run: |
          # Save PEM key to file and set permissions
          echo "$EC2_PEM_KEY" > ec2.pem
          chmod 400 ec2.pem
          SSH_COMMAND="ssh -i ec2.pem -o StrictHostKeyChecking=no $EC2_USER@$EC2_HOST"
          SCP_COMMAND="scp -i ec2.pem -o StrictHostKeyChecking=no"
          $SSH_COMMAND "mkdir -p /home/ubuntu/docker"
          # Copy docker-compose.yml to EC2 server
          $SCP_COMMAND docker-compose.yml "$EC2_USER@$EC2_HOST:/home/ubuntu/docker/"
          # SSH into EC2 and install Docker + deploy the container
          $SSH_COMMAND << 'EOF'
          set -e
          # Install Docker if not installed
          if ! command -v docker &> /dev/null; then
            echo "Installing Docker..."
            sudo apt-get update
            sudo apt-get install ca-certificates curl
            sudo install -m 0755 -d /etc/apt/keyrings
            sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
            sudo chmod a+r /etc/apt/keyrings/docker.asc
            echo \
              "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu \
               $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}") stable" | \
            sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
            sudo apt-get update
            sudo apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
            #sudo systemctl start docker
            #sudo systemctl enable docker
            sudo usermod -aG docker $EC2_USER   
            sudo newgrp docker  
          fi
          # Docker login using credentials passed via environment
          echo "${{secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          export DKR_REGISTRY=${{ secrets.DOCKER_USERNAME }}
          export DKR_REPOSITORY=$DKR_REGISTRY/${{ env.REPO_NAME }}
          export IMAGE_TAG=${{ steps.next_version.outputs.tag }}
          cd /home/ubuntu/docker
          sudo docker pull $DKR_REPOSITORY:$IMAGE_TAG
          sudo docker compose up -f docker-compose.yml -d --force-recreate
          EOF
  
          # Cleanup the PEM file
          rm -f ec2.pem
        
            


