name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-monday:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
################################################################
###               DETERMINE NEXT VERSION                     ###
###   Used for creating new releases and image tags          ###
################################################################

    - name: Determine Next Version
      id: next_version
      run: |
        # Fetch all tags
        git fetch --tags
        
        # Get the latest tag, assume semver, and sort.
        LATEST_TAG=$(git tag -l | grep -E '^v[0-9]+\.[0-9]+\.[0-9]+$' | sort -V | tail -n1)
        
        # If there's no tag yet, start with v0.0.0. Used for new repos
        if [ -z "$LATEST_TAG" ]; then
          LATEST_TAG="v0.0.0"
        fi
        
        # Increment the patch version
        NEXT_TAG=$(echo $LATEST_TAG | awk -F. '{print $1"."$2"."$3+1}')
        
        # Output the next version
        echo "tag=$NEXT_TAG" >> $GITHUB_OUTPUT
        echo "Next version: $NEXT_TAG"

################################################################
###                     CREATE RELEASE                       ###
###  Creating release with the tag from the previous step    ###
################################################################

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      with:
        tag_name: ${{ steps.next_version.outputs.tag }}
        release_name: Release ${{ steps.next_version.outputs.tag }}
        draft: false
        prerelease: false

    - name: Setup docker 
      uses: docker/setup-buildx-action@v1

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract repository name
      id: repo-name
      run: |
        REPO_NAME="${GITHUB_REPOSITORY##*/}"
        echo "REPO_NAME=$REPO_NAME" >> $GITHUB_ENV
        echo "name=$repo-name" >> $GITHUB_OUTPUT    

    - name: Build Docker image
      env:
        IMAGE_TAG: ${{ steps.next_version.outputs.tag }}
        DKR_REGISTRY: ${{ secrets.DOCKER_USERNAME }}        
        DKR_REPOSITORY:  ${{ secrets.DOCKER_USERNAME }}/${{ env.REPO_NAME }}
  
        
      run: |
        docker build -t $DKR_REPOSITORY:$IMAGE_TAG .

    - name: Run tests (if any)
      run: |
        echo "No tests to run"

    - name: Push Docker image
      env:
        IMAGE_TAG: ${{ steps.next_version.outputs.tag }}
        DKR_REGISTRY: ${{ secrets.DOCKER_USERNAME }}
        DKR_REPOSITORY: ${{ secrets.DOCKER_USERNAME }}/${{ env.REPO_NAME }}
      run: |
        # Tag the image as latest
        echo "%%%%%%%%%%%%%%%%%%%%%%%%%% $DKR_REPOSITORY"
        docker tag $DKR_REPOSITORY:$IMAGE_TAG $DKR_REPOSITORY:latest

        # Push the specific version tag
        docker push $DKR_REPOSITORY:$IMAGE_TAG

        # Push the latest tag
        docker push $DKR_REPOSITORY:latest

    - name: Connect to EC2
      env:
        EC2_PEM_KEY: ${{ secrets.EC2_PEM_KEY }}
      run: |
        # Save PEM key to file and set permissions
        echo "$EC2_PEM_KEY" > ec2.pem
        chmod 400 ec2.pem
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Pull the image from Docker hub and deploy in EC2

      env:
        IMAGE_TAG: ${{ steps.next_version.outputs.tag }}
        DKR_REGISTRY: ${{ secrets.DOCKER_USERNAME }}
        DKR_REPOSITORY: ${{ secrets.DOCKER_USERNAME }}/${{ env.REPO_NAME }}
        EC2_PEM_KEY: ${{ secrets.EC2_PEM_KEY }}
        EC2_HOST: ${{ secrets.EC2_HOST }}
        EC2_USER: ${{ secrets.EC2_USER }}
        
      run: |
       
        # SSH, SCP commands
        SSH_COMMAND="ssh -i ec2.pem -o StrictHostKeyChecking=no $EC2_USER@$EC2_HOST"
        SCP_COMMAND="scp -i ec2.pem -o StrictHostKeyChecking=no"
        
        $SSH_COMMAND "mkdir -p /home/ubuntu/docker"

        # Copy docker-compose.yml to EC2 server
        $SCP_COMMAND docker-compose.yml "$EC2_USER@$EC2_HOST:/home/ubuntu/docker/"

        # SSH into EC2 and install Docker + deploy the container
        $SSH_COMMAND << 'EOF'
          set -e
          export EC2_USER=${{ secrets.EC2_USER }}
          # Install Docker if not installed
          if ! command -v docker &> /dev/null; then
            echo "Installing Docker..."
            sudo apt-get update
            sudo apt-get install ca-certificates curl
            sudo install -m 0755 -d /etc/apt/keyrings
            sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
            sudo chmod a+r /etc/apt/keyrings/docker.asc
            echo \
              "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu \
              $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}") stable" | \
              sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
            sudo apt-get update
            sudo apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
            #sudo systemctl start docker
            #sudo systemctl enable docker            
            sudo usermod -aG docker $EC2_USER  
            sudo newgrp docker 
            
          fi
          
          # DEPLOY IMAGE

          # Docker login using credentials passed via environment
          echo "${{secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          export DKR_REGISTRY=${{ secrets.DOCKER_USERNAME }}
          export DKR_REPOSITORY=$DKR_REGISTRY/${{ env.REPO_NAME }}
          export IMAGE_TAG=${{ steps.next_version.outputs.tag }}
          cd /home/ubuntu/docker
          sudo docker pull $DKR_REPOSITORY:$IMAGE_TAG
          sudo docker compose up -d --force-recreate
        EOF
  
        # Cleanup the PEM file
        rm -f ec2.pem